/vendor/
/node_modules/
public/dist/frontend
public/dist/admin
/public/hot
/public/storage
/public/uploads/0000
public/themes/*/dist

.env
.env.backup
.env.production
.env.example.backup
.php_cs.cache
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log

/storage/*.key
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/debugbar/*
storage/app/*
!storage/app/public/
storage/app/public/*
!storage/app/public/demo/
storage/bc.php
storage/installed

/.idea
/.fleet
/.vscode
